@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Mukta', sans-serif;
  -webkit-font-family: 'Mukta', sans-serif;
  -moz-osx-font-family: 'Mukta', sans-serif;
  background-color: #c9b2ba;
}

:root{
  --main-color: #ff9798;
  --sub-color: #ffebee;
  --font-color: #222222;
  --btn-color: #e57373;
}

a,
a:visited,
a:active{
  text-decoration: none;
  cursor: pointer;
}

.section{
  max-width: 500px;
  height: 100vh;
  background-color: var(--main-color);
  margin: 0 auto;
  overflow: hidden;

}


.btn{
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;

}
